In [27]:
import csv
import concurrent
import sqlite3
import pandas as pd

In [29]:
sql_connection = sqlite3.connect('test.sqlite', isolation_level=None)

In [30]:
sql_cursor = sql_connection.cursor()

In [31]:
sql_cursor.execute("CREATE TABLE IF NOT EXISTS Articles (title TEXT, url TEXT,author TEXT,datetime TEXT,domain TEXT, content TEXT, content_type TEXT)")

In [32]:
sql_cursor.execute("CREATE TABLE IF NOT EXISTS Labels (url TEXT,category TEXT)")

In [33]:
url = 'www.theguardian.co.uk'
authors = 'GR'
pub_date = 'Jan'
domain = 'guardian'
content = 'Some stuff happened'
content_type = 'article'
title = 'The stuff'

In [34]:
sql_cursor.execute("INSERT INTO Articles VALUES (?,?,?,?,?,?,?)", (title, url, authors, pub_date, domain, content, content_type))

In [35]:
sql_connection.commit()

In [40]:
[r[0] for r in sql_cursor.execute("SELECT url FROM Articles")]

['www.theguardian.co.uk']

In [42]:
df = pd.read_sql_query("SELECT * from Articles", sql_connection)